@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: rgb(135, 183, 193);
  --primary-white: #f0f0f2;
  --primary-black: #424656;
  --primary-font: "Poppins";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: gray;
}

.contain-title {
  display: flex;
  flex-direction: column;
  background-color:lavender;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 1.7rem;
}

.contain-title a {
  display: inline-block;
  background: var(--primary-color);
  color: white;
  font-weight: bold;
  padding: 0.6rem;
  border-radius: 10px;
  border: 2px solid var(--primary-color);
  transition: 0.3s;
  margin: 0.5rem 0;
}

.contain-title a:hover {
  color: var(--primary-color);
  background: white;
}

.box {
  display: flex;
  flex-direction: column;
  padding: 24px 0px 24px 42px;
  width: 100%;
}

.box-user {
  display: flex;
  flex-direction: column;
}

.box table {
  border: 2px solid black;
  text-align: center;
  border-collapse: collapse;
}

.box table tr th {
  border: 2px solid black;
  padding: 1rem;
  font-weight: 500;
  background-color: var(--primary-black);
  color: white;
}

.box table tr td {
  border: 1px solid black;
  padding: 1rem;
}

.form-container {
  width: 500px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}

.form-group .form-control {
  padding: 0.5rem;
  width: 300px;
  color: var(--primary-black);
  margin-left: 2.5rem;
}

.in-box {
  position: relative;
}

form {
  margin-top: 2rem;
}

.text-danger-edit {
  color: red;
  font-size: 0.7rem;
  position: absolute;
  left: 40px;
  bottom: -1rem;
}

.btn-submit {
  border: 2px solid var(--primary-color);
  padding: 0.8rem;
  border-radius: 10px;
  color: var(--primary-color);
  transition: 0.3s;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  width: 100%;
  font-weight: bold;
}

input[type="submit"]:hover {
  background-color: var(--primary-color);
  color: white;
}

body {
  min-height: 100vh;
  font-family: var(--primary-font);
  color: black;
  background-color:lavender;
  display: flex;
  flex-direction: column;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-size: 20px;
}
/* Header */
header {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  padding: 18px 64px;
  background-color: white;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

header .logo img {
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

header .h {
  display: flex;
  align-items: center;
  z-index: 1000;
}
ul li {
  display: inline-block;
  padding-right: 1.5rem;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  background-color: var(--primary-black);
  color: white;
  margin-top: auto;
  padding: 1.2rem;
}

main.d .content .count table {
  border: 2px solid black;
  text-align: center;
  border-collapse: collapse;
}

main.d .content .count table tr th {
  border: 2px solid black;
  padding: 1rem;
  font-weight: 500;
  background-color: var(--primary-black);
  color: white;
}

main.d .content .count table tr td {
  border: 1px solid black;
  padding: 1rem;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.menu-nav ul li {
  transition: 0.2s;
}

.menu-nav ul li:hover {
  color: var(--primary-color);
  transform: scale(1.05);
}

.menu-nav ul li:nth-child(1) {
  padding-left: 1rem;
}

.fas {
  padding-right: 8px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.logout {
  transition: 0.3;
  cursor: pointer;
}

.logout:hover {
  color: red;
  transform: scale(1.1);
}

.login {
  transition: 0.3;
  cursor: pointer;
}

.login:hover {
  color: blue;
  transform: scale(1.1);
}

.view:hover {
  color: var(--primary-color);
}

.edit:hover {
  color: green;
}

.delete:hover {
  color: red;
}

/*Input focus move up label*/
.form__input:focus + .form__label {
  top: -0.5rem;
  left: 0.8rem;
  color: var(--primary-color);
  font-size: 0.9rem;
  font-weight: 500;
  z-index: 10;
}

/*Input focus sticky top label*/
.form__input:not(:placeholder-shown).form__input:not(:focus) + .form__label {
  top: -0.5rem;
  left: 0.8rem;
  font-size: 0.9rem;
  font-weight: 500;
  z-index: 10;
}

/*Input focus*/
.form__input:focus {
  border: 1.5px solid var(--primary-color);
}

.text-danger {
  position: absolute;
  color: red;
  font-size: 0.7rem;
  left: 5px;
  bottom: -1rem;
}

.contain-main {
  display: flex;
  padding: 24px 64px;
}

/* Broadcast css */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}
